body {
  background-color: black;
}
.image-view {
  // background-color: white;
  text-align: center;
  img {
    width: auto;
    height: 100%;
    max-width: 100%;
  }
}

.video-view,
.image-view {
  position: fixed !important;
  background-color: #ccc;
}

.video-view {
  // background-color: red;
}

// jQuery UI overrides
.ui-resizable-handle {
  background: none !important;
}