.image-view {
  background-color: #eee;
  text-align: center; }
  .image-view img {
    width: auto;
    height: 100%;
    max-width: 100%; }

.video-view {
  background-color: red; }

.ui-resizable-handle {
  background: none !important; }
