body {
  background-color: black; }

.image-view {
  text-align: center; }
  .image-view img {
    width: auto;
    height: 100%;
    max-width: 100%; }

.video-view, .image-view {
  position: fixed !important; }

.edit-mode .video-view, .edit-mode .image-view {
  background-color: #ccc; }

.ui-resizable-handle {
  background: none !important; }
